body { 
  background-color: black; 
}
h1 {
  color: white;
  text-align: center; 
  font-size: 20px;
}
p {
  font-family: verdana;
  font-size: 12px;
  color: green; 
}
ol {
  color: white;
  font-size: 12px;
}
ul {
  color: white;
  font-size: 12px; 
}
