body { 
 
  background-color: orange;
}
h1 {
  color: white;
  text-align: left; 
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
}
p {
  font-family: verdana;
  font-size: 12px;
  color: white; 
 background-color: blue;
  border-radius: 25px
  padding: 20px
    width: 150px
    heigth: 150px
}
h2 {
  color: white;
  text-align: left;
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
}
