body { 
  background-image: url(https://www.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_9728603.htm);
  background-color: orange;
}
h1 {
  color: white;
  text-align: center; 
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
}
p {
  font-family: verdana;
  font-size: 12px;
  color: white; 
  border-radius: 25px
    background: #73AD21;
  padding: 20px
    width: 150px
    heigth: 150px
}
h2 {
  color: white;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
}
