body { 
  background-image: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg");
  background-color: orange;
}
h1 {
  color: blue;
  text-align: center; 
  font-size: 20px;
  border-styles: solid;
  border-radius: 15px;
}
p {
  font-family: verdana;
  font-size: 12px;
  color: green; 
}
h2 {
  color: blue;
  text-align: center;
  font-size: 20px;
  border-styles: solid;
}
