*{
    box-sizing: border-box;
    }


body { 
  background-color: gray; 
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family:arial;
}

#header {
      background-color: black;
      padding: 30px;
      text-align: center;
      font-size: 35px;
    border: dotted 2px;
    }

 a:hover {
      color: red;
    }
    
 #nav {
      float: left;
      width: 15%;
      height: 480px;
      background: gray;
      padding: 15px;
    }
    
 #nav ul {
      list-style-type: none;
    }
 #nav a {
      text-decoration: none;
    }  

 #footer {
      background-color: black;
      clear: both;
      font-size: 17px;
      color: white;
      text-align: center;
      position: relative;
    }

figure {
    border:none;
    padding: 4px;
    text-align:center;
    margin: 4px;
}

figcaption {
      color: white;
      font-family: verdena;
      }
      

article {
  padding: 20px;
  background: orange;
  float:left;
  width:75 %;
  color: white;
    }
     
section {
    float: left;
    padding: 20px;
    background: lightblue;
    width:75%;
    color: white;
    }

#haaveet {
    text-align:center;
}

  .myDiv {
  border: 2px dotted yellow; 
  width: 100px;
    }



h1 {
  color: white;
  text-align: center; 
  font-size: 20px;
}

h2 {
    color: blue;
    text-align: center;
    font-size: 15px;
}

p {
  font-family: verdana;
  font-size: 12px;
  color: white;
}

    
    
 
